{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Xml</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    .password-wrapper {
        position: relative;
    }

    .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        display: flex;
        align-items: center;
    }
</style>

<body style="margin: 0; padding: 0;">
    <div class="container" id="containerFormRDEP">
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-header">Formulario ATS</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="{% static 'logoishida.png' %}" alt="Logo" class="img-fluid"
                                    style="max-width: 150px; margin-bottom: 5px;">
                            </div>
                        </div>
                        <div class="row" id="rowButtons" style="display: none;">
                            <div class="col-md-3 d-flex justify-content-start align-items-center">
                                <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#reportModal">Generar Reportes
                                </button>
                            </div>
                            <div class="col-md-6 text-center">
                                <button class="btn btn-dark" type="button" id="btnRedep">REDEP</button>
                            </div>
                            <div class="col-md-3 d-flex justify-content-end align-items-center">
                                <button type="button" class="btn btn-danger" id="btnCrearAts">Generar ATS</button>
                            </div>
                        </div>
                        <hr>
                        <style>
                            .text-white-bold {
                                color: white !important;
                                font-weight: bold;
                            }
                        </style>
                        <div id="detailEmpleado">
                            <!-- Sección con botones de navegación -->
                            <div class="row justify-content-between">
                                <div class="col-md-3">
                                    <button id="btnBack" class="btn btn-dark btn-sm"
                                        style="margin-top: 15px; margin-bottom: 15px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                            style="fill: white; width: 15px; height: 15px;">
                                            <path
                                                d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="col-md-3 text-right">
                                    <button id="btnNext" class="btn btn-dark btn-sm"
                                        style="margin-top: 15px; margin-bottom: 15px;" disabled>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                            style="fill: white; width: 15px; height: 15px;">
                                            <path
                                                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32h306.8L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <!-- Secciones -->
                            <form id="atsForm" method="POST" action="{% url 'crearats' %}">
                                {% csrf_token %}
                                <div id="divIniciarSesion" class="row justify-content-center">
                                    <div class="col-md-6">
                                        <div class="card text-white bg-secondary mb-3">
                                            <div class="card-header">Iniciar Sesión</div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="username">Ruc</label>
                                                    <input type="text" class="form-control" id="username"
                                                        name="username" placeholder="Ingrese el RUC" maxlength="13"
                                                        inputmode="numeric">
                                                    <div class="invalid-feedback">Por favor, ingrese un RUC válido de
                                                        Ecuador.
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Ingrese la contraseña</label>
                                                    <div class="input-group" id="show_hide_password">
                                                        <input class="form-control" type="password" id="password"
                                                            name="password" placeholder="Ingrese la contraseña">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <a href="" id="togglePassword"><i
                                                                        class="fa fa-eye-slash"
                                                                        aria-hidden="true"></i></a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <small class="form-text font-weight-bold">Usuario y Contraseña del
                                                    SRI</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divRoutes" style="display: none;">
                                    <div class="row justify-content-center">
                                        <div class="col-md-8">
                                            <div class="card text-white bg-secondary mb-3">
                                                <div class="card-header">Seleccionar Ruta</div>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="directoryInput">Ingrese la ruta de la carpeta de destino</label>
                                                        <input type="text" class="form-control" id="directoryInput" name="directoryInput" placeholder="C:\ia\SRIBOT\XML">
                                                    </div>
                                                    <hr>
                                                    <p>Opciónes de limpieza</p>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="input-group mb-3">
                                                                <select class="custom-select" id="selectOptionsClear">
                                                                  <option value="1" selected>No</option>
                                                                  <option value="2">Todas</option>
                                                                  <option value="3">Carpeta raiz</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="input-group mb-3">
                                                                <select class="custom-select" id="selectOptionMounth" disabled>
                                                                  <option value="1">Enero</option>
                                                                  <option value="2">Febrero</option>
                                                                  <option value="3">Marzo</option>
                                                                  <option value="4">Abril</option>
                                                                  <option value="5">Mayo</option>
                                                                  <option value="6">Junio</option>
                                                                  <option value="7">Julio</option>
                                                                  <option value="8">Agosto</option>
                                                                  <option value="9">Septiembre</option>
                                                                  <option value="10">Octubre</option>
                                                                  <option value="11">Noviembre</option>
                                                                  <option value="12">Diciembre</option>
                                                                  <option value="13">Todo el año</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="input-group mb-3">
                                                                <select class="custom-select" id="selectOptionEmiRec" disabled>
                                                                  <option value="" selected> </option>
                                                                  <option value="E">Emitidas</option>
                                                                  <option value="R">Recibidas</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <button class="btn btn-light" type="button" id="btnClearFolders">Limpiar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divRecibidos" style="display: none;">
                                    <h3>Comprobantes Electronicos Recibidos</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                                    style="width: 20px; height: 20px;">
                                                    <path
                                                        d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2c0 0 0 0 0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4c0 0 0 0 0 0c19.8 27.1 39.7 54.4 49.2 86.2l160 0zM192 512c44.2 0 80-35.8 80-80l0-16-160 0 0 16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z" />
                                                </svg><b> Recomendaciones:</b> Verificar la información de las carpetas
                                                que son necesarias para la generación del ATS.
                                                <br>
                                                <i><b>Click en cada tipo de comprobante para la verificación.</b></i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button type="button" id="Facturas"
                                                class="btn btn-outline-success btn-block mt-3">
                                                Facturas
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" id="Liquidaciones"
                                                class="btn btn-outline-success btn-block mt-3" style="display: none;">
                                                Liquidaciones
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" id="NotasCredito"
                                                class="btn btn-outline-success btn-block mt-3" style="display: none;">
                                                Notas de Credito
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" id="NotasDebito"
                                                class="btn btn-outline-success btn-block mt-3" style="display: none;">
                                                Notas de Debito
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" id="Retenciones"
                                                class="btn btn-outline-success btn-block mt-3" style="display: none;">
                                                Retenciones
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                                <label for="mes">Seleccione el Mes</label>
                                                <select class="form-control" id="mes" name="mes">
                                                    <option value="1">Enero</option>
                                                    <option value="2">Febrero</option>
                                                    <option value="3">Marzo</option>
                                                    <option value="4">Abril</option>
                                                    <option value="5">Mayo</option>
                                                    <option value="6">Junio</option>
                                                    <option value="7">Julio</option>
                                                    <option value="8">Agosto</option>
                                                    <option value="9">Septiembre</option>
                                                    <option value="10">Octubre</option>
                                                    <option value="11">Noviembre</option>
                                                    <option value="12">Diciembre</option>
                                                </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="dia">Seleccione el Día</label>
                                            <select class="form-control" id="dia" name="dia">
                                                <option value="0">Todos</option>
                                                {% for day in days %}
                                                <option value="{{ day }}">{{ day }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 ">
                                            <label for="tipo_comprobante">Seleccione el Tipo de Comprobante</label>
                                            <select class="form-control" id="tipo_comprobante" name="tipo_comprobante">
                                                <option value="1">Facturas</option>
                                                <option value="2">Liquidaciónes</option>
                                                <option value="3">Nota de Crédito</option>
                                                <option value="4">Nota de Débito</option>
                                                <option value="6">Retención</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" id="rowDownloadCompRecib" style="display: none;">
                                        <div class="col-md-6">
                                            <button type="button" id="btnDownload" class="btn btn-dark btn-block mt-3">
                                                Descargar
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                style="width: 20px;height: 20px;">
                                                <path
                                                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
                                            </svg><b> Nota:</b>
                                            <ol>
                                                <li>Ejecutar el botón "Descargar".</li>
                                                <li>Se abrirá automaticamente el portal del SRI y una ventana
                                                    solicitando el mes, día y tipo de comprobante.</li>
                                                <li>
                                                    <i>La interacción del usuario termina en esta parte, se recomienda
                                                        dejar que el proceso concluya automaticamente</i>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div id="divEmitidos" style="display: none;">
                                    <h3>Comprobantes Electronicos Emitidos</h3>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button type="button" id="FacturasE"
                                                class="btn btn-outline-success btn-block mt-3">
                                                Facturas
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" id="LiquidacionesE"
                                                class="btn btn-outline-success btn-block mt-3" style="display: none;">
                                                Liquidaciones
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" id="NotasCreditoE"
                                                class="btn btn-outline-success btn-block mt-3" style="display: none;">
                                                Notas de Credito
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" id="NotasDebitoE"
                                                class="btn btn-outline-success btn-block mt-3" style="display: none;">
                                                Notas de Debito
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" id="RetencionesE"
                                                class="btn btn-outline-success btn-block mt-3" style="display: none;">
                                                Retenciones
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" id="rowDownloadCompEmi" style="display: none;">
                                        <div class="col-md-6 align-content-center ">
                                            <button type="button" id="btnEmitidos" class="btn btn-dark btn-block mt-3">
                                                Descargar
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                    style="width: 20px;height: 20px;">
                                                    <path
                                                        d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
                                                </svg> Nota:</span>
                                            <ol>
                                                <li>Ingresar al portal SRI.</li>
                                                <li>Dirigirse al apartado de Facturación Electrónica / Producción /
                                                    Consultas / Comprobantes Electrónicos Emitidos.</li>
                                                <li>Selecciónar los días a descargar, el tipo de comprobante y
                                                    consultar.</li>
                                                <li>Descargar el archivo .txt y renombrarlo.</li>
                                                <li>Mover el archivo descargado dependiendo el tipo de comprobante,
                                                    ejemplo: (c:/ia/SRIBOT/XML/EMITIDAS).</li>
                                                <li>Iniciar el BOT.</li>
                                            </ol>
                                            <i>Esto tiene un limite de 10 días permitidos para descargar el archivo.</i>
                                        </div>
                                    </div>
                                </div>
                                <div id="divAnulados" style="display: none;">
                                    <h3>Comprobantes Anulados</h3>
                                    <div class="row justify-content-center">
                                        <div class="col-md-12">
                                            <div class="card text-white bg-secondary mb-3">
                                                <div class="card-header">Formulario de Comprobantes Anulados</div>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="tipoComprobante">Tipo de Comprobante</label>
                                                        <select class="form-control" id="tipoComprobante"
                                                            name="tipoComprobante">
                                                            <option value="18">Factura</option>
                                                            <option value="07">Retención</option>
                                                            <option value="05">Nota de Débito</option>
                                                            <option value="04">Nota de Crédito</option>
                                                            <option value="03">Liquidación</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="autorizacion">Autorización</label>
                                                        <input type="text" class="form-control" id="autorizacion"
                                                            name="autorizacion" placeholder="Ingrese la autorización">
                                                    </div>
                                                    <button type="submit" class="btn btn-primary btn-block"
                                                        id="btnGuardarAnulado">Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">Generar Reportes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-primary btn-block" id="openRecibidos">Recibidos
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-primary btn-block" id="openEmitidos">Emitidos
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        const passwordInput = document.getElementById('password');
        const togglePassword = document.getElementById('togglePassword');
        const usernameInput = document.getElementById('username');
        const btnRedep = document.getElementById('btnRedep');
        const rowDownloadCompRecib = document.getElementById('rowDownloadCompRecib');
        const rowDownloadCompEmi = document.getElementById('rowDownloadCompEmi');
        const directoryInput = document.getElementById('directoryInput');

        let valRutaFolder;
        

        // Funcionalidad de envio a la aplicacion para generar el XML
        btnRedep.addEventListener('click', function () {
            window.location.href = "{% url 'go_view_generatoXML' %}";
        })

        togglePassword.addEventListener('click', (e) => {
            e.preventDefault();
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            togglePassword.querySelector('i').classList.toggle('fa-eye');
            togglePassword.querySelector('i').classList.toggle('fa-eye-slash');
        });

        passwordInput.addEventListener("input", function () {
            var passwordVal = passwordInput.value
            if (usernameInput.value != '' && passwordVal.length >= 4) {
                btnNext.disabled = false;
                rowButtons.style.display = '';
            } else {
                btnNext.disabled = true;
                rowButtons.style.display = 'none';
            }
        })

        usernameInput.addEventListener('input', function (e) {
            this.value = this.value.replace(/[^0-9]/g, '').slice(0, 13);
            validateRuc();
        });

        function validateRuc() {
            const rucInput = document.getElementById('username');
            const ruc = rucInput.value;

            if (ruc.length === 13 && validarDocumento(ruc)) {
                rucInput.classList.remove('is-invalid');
                rucInput.classList.add('is-valid');
            } else {
                rucInput.classList.remove('is-valid');
                rucInput.classList.add('is-invalid');
            }
        }

        function validarDocumento(numero) {
            var suma = 0;
            var residuo = 0;
            var pri = false;
            var pub = false;
            var nat = false;
            var numeroProvincias = 24;
            var modulo = 11;

            /* Verifico que el campo no contenga letras */
            var ok = 1;
            for (i = 0; i < numero.length && ok == 1; i++) {
                var n = parseInt(numero.charAt(i));
                if (isNaN(n)) ok = 0;
            }
            if (ok == 0) {
                alert("No puede ingresar caracteres en el número");
                return false;
            }

            if (numero.length < 10) {
                alert('El número ingresado no es válido');
                return false;
            }

            /* Los primeros dos digitos corresponden al codigo de la provincia */
            var provincia = numero.substr(0, 2);
            if (provincia < 1 || provincia > numeroProvincias) {
                alert('El código de la provincia (dos primeros dígitos) es inválido');
                return false;
            }

            /* Aqui almacenamos los digitos de la cedula en variables. */
            var d1 = numero.substr(0, 1);
            var d2 = numero.substr(1, 1);
            var d3 = numero.substr(2, 1);
            var d4 = numero.substr(3, 1);
            var d5 = numero.substr(4, 1);
            var d6 = numero.substr(5, 1);
            var d7 = numero.substr(6, 1);
            var d8 = numero.substr(7, 1);
            var d9 = numero.substr(8, 1);
            var d10 = numero.substr(9, 1);

            /* El tercer digito es: */
            /* 9 para sociedades privadas y extranjeros   */
            /* 6 para sociedades publicas */
            /* menor que 6 (0,1,2,3,4,5) para personas naturales */

            if (d3 == 7 || d3 == 8) {
                alert('El tercer dígito ingresado es inválido');
                return false;
            }

            /* Solo para personas naturales (modulo 10) */
            if (d3 < 6) {
                nat = true;
                var p1 = d1 * 2;
                if (p1 >= 10) p1 -= 9;
                var p2 = d2 * 1;
                if (p2 >= 10) p2 -= 9;
                var p3 = d3 * 2;
                if (p3 >= 10) p3 -= 9;
                var p4 = d4 * 1;
                if (p4 >= 10) p4 -= 9;
                var p5 = d5 * 2;
                if (p5 >= 10) p5 -= 9;
                var p6 = d6 * 1;
                if (p6 >= 10) p6 -= 9;
                var p7 = d7 * 2;
                if (p7 >= 10) p7 -= 9;
                var p8 = d8 * 1;
                if (p8 >= 10) p8 -= 9;
                var p9 = d9 * 2;
                if (p9 >= 10) p9 -= 9;
                modulo = 10;
            }

            /* Solo para sociedades publicas (modulo 11) */
            /* Aqui el digito verficador esta en la posicion 9, en las otras 2 en la pos. 10 */
            else if (d3 == 6) {
                pub = true;
                p1 = d1 * 3;
                p2 = d2 * 2;
                p3 = d3 * 7;
                p4 = d4 * 6;
                p5 = d5 * 5;
                p6 = d6 * 4;
                p7 = d7 * 3;
                p8 = d8 * 2;
                p9 = 0;
            }

            /* Solo para entidades privadas (modulo 11) */
            else if (d3 == 9) {
                pri = true;
                p1 = d1 * 4;
                p2 = d2 * 3;
                p3 = d3 * 2;
                p4 = d4 * 7;
                p5 = d5 * 6;
                p6 = d6 * 5;
                p7 = d7 * 4;
                p8 = d8 * 3;
                p9 = d9 * 2;
            }

            suma = p1 + p2 + p3 + p4 + p5 + p6 + p7 + p8 + p9;
            residuo = suma % modulo;

            /* Si residuo=0, dig.ver.=0, caso contrario 10 - residuo*/
            var digitoVerificador = residuo == 0 ? 0 : modulo - residuo;

            /* ahora comparamos el elemento de la posicion 10 con el dig. ver.*/
            if (pub == true) {
                if (digitoVerificador != d9) {
                    alert('El ruc de la empresa del sector público es incorrecto.');
                    return false;
                }
                /* El ruc de las empresas del sector publico terminan con 0001*/
                if (numero.substr(9, 4) != '0001') {
                    alert('El ruc de la empresa del sector público debe terminar con 0001');
                    return false;
                }
            } else if (pri == true) {
                if (digitoVerificador != d10) {
                    alert('El ruc de la empresa del sector privado es incorrecto.');
                    return false;
                }
                if (numero.substr(10, 3) != '001') {
                    alert('El ruc de la empresa del sector privado debe terminar con 001');
                    return false;
                }
            } else if (nat == true) {
                if (digitoVerificador != d10) {
                    alert('El número de cédula de la persona natural es incorrecto.');
                    return false;
                }
                if (numero.length > 10 && numero.substr(10, 3) != '001') {
                    alert('El ruc de la persona natural debe terminar con 001');
                    return false;
                }
            }
            return true;
        }

        const btnBack = document.getElementById('btnBack');
        const btnNext = document.getElementById('btnNext');
        const rowButtons = document.getElementById('rowButtons');
        const btnDownload = document.getElementById('btnDownload');
        const btnCrearAts = document.getElementById('btnCrearAts');
        const btnEmitidos = document.getElementById('btnEmitidos');
        const btnGuardarAnulado = document.getElementById('btnGuardarAnulado');
        const divIniciarSesion = document.getElementById('divIniciarSesion');
        const divRoutes = document.getElementById('divRoutes');
        const divRecibidos = document.getElementById('divRecibidos');
        const divEmitidos = document.getElementById('divEmitidos');
        const divAnulados = document.getElementById('divAnulados');
        const atsForm = document.getElementById('atsForm');
        
        // Botones en divEmitidos
        const btnFacturas = document.getElementById('Facturas');
        const btnLiquidaciones = document.getElementById('Liquidaciones');
        const btnNotasCredito = document.getElementById('NotasCredito');
        const btnNotasDebito = document.getElementById('NotasDebito');
        const btnRetenciones = document.getElementById('Retenciones');
        const btnFacturasE = document.getElementById('FacturasE');
        const btnLiquidacionesE = document.getElementById('LiquidacionesE');
        const btnNotasCreditoE = document.getElementById('NotasCreditoE');
        const btnNotasDebitoE = document.getElementById('NotasDebitoE');
        const btnRetencionesE = document.getElementById('RetencionesE');
        const autorizacionInput = document.getElementById('autorizacion');

        let currentSection = 0;
        const sections = [divIniciarSesion, divRoutes, divRecibidos, divEmitidos, divAnulados];

        function showSection(index) {
            sections.forEach((section, i) => {
                section.style.display = i === index ? '' : 'none';
            });
        }

        btnBack.addEventListener('click', () => {
            if(currentSection != 0){
                btnNext.disabled = false;
            }
            if (currentSection > 0) {
                currentSection--;
                showSection(currentSection);
            }
        });

        btnNext.addEventListener('click', () => {
            btnNext.disabled = true;
            if(currentSection == 0){
                btnNext.disabled = false;
            }
            if(currentSection == 1){
                // Funcionalidad input Ruta
                if(directoryInput.value == ''){
                    valRutaFolder = 'C:\\IA\\SRIBOT';
                }else{
                    valRutaFolder = directoryInput.value;
                }
                // Aqui va la funcion que va a la vista valRutaFolder
            }
            if (currentSection < sections.length - 1) {
                currentSection++;
                showSection(currentSection);
            }
        });

        openRecibidos.addEventListener('click', () => {
            $('#reportModal').modal('hide');
            showSection(1); // Mostrar la sección de Recibidos
            $.ajax({
                type: 'POST',
                url: atsForm.action,
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': 'ReporteRecibidos'
                },
                success: function (response) {
                    if (response.output) {
                        toastr.info(response.output, "Salida del Script");
                    } else {
                        toastr.success("Éxito");
                    }
                },
                error: function (response) {
                    toastr.error('No se seleccionó ningún archivo. Los datos no se han guardado.', "Error");
                }
            });
        });

        openEmitidos.addEventListener('click', () => {
            $('#reportModal').modal('hide');
            showSection(2); // Mostrar la sección de Emitidos
            $.ajax({
                type: 'POST',
                url: atsForm.action,
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': 'ReporteEmitidos'
                },
                success: function (response) {
                    if (response.output) {
                        toastr.info(response.output, "Salida del Script");
                    } else {
                        toastr.success("Éxito");
                    }
                },
                error: function (response) {
                    toastr.error('No se seleccionó ningún archivo. Los datos no se han guardado.', "Error");
                }
            });
        });

        btnGuardarAnulado.addEventListener('click', (event) => {
            event.preventDefault();
            const formData = new FormData(atsForm);
            formData.append('action', 'guardar_anulados');

            fetch("{% url 'guardar_anulados' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => response.json())
                .then(data => {
                    toastr.success(data.output);
                    autorizacionInput.value = ''; // Limpiar el campo de autorización
                })
                .catch(error => {
                    toastr.error('Error al guardar el comprobante anulado.');
                });
        });

        btnDownload.addEventListener('click', () => {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const mes = document.getElementById('mes').value;
        const dia = document.getElementById('dia').value;
        const tipo_comprobante = document.getElementById('tipo_comprobante').value;
        

        if (!username || !password || !mes || !dia || !tipo_comprobante) {
            toastr.warning("Por favor, complete todos los campos.", "Advertencia");
        } else {
            $.ajax({
                type: 'POST',
                url: atsForm.action,
                data: {
                    'username': username,
                    'password': password,
                    'mes': mes,
                    'dia': dia,
                    'tipo_comprobante': tipo_comprobante,
                    'directory': valRutaFolder,
                    'action': 'BOTATS',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    toastr.success(response.message, "Éxito");
                },
                error: function (response) {
                    toastr.error('Error al iniciar el script.', "Error");
                }
            });
        }
    });

        btnEmitidos.addEventListener('click', () => {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            if (!username || !password) {
                toastr.warning("Por favor, complete los campos de usuario y contraseña.", "Advertencia");
            } else {
                $.ajax({
                    type: 'POST',
                    url: atsForm.action,
                    data: $(atsForm).serialize() + '&action=BOTEMITIDOS',
                    success: function (response) {
                        toastr.success(response.message, "Éxito");
                    },
                    error: function (response) {
                        toastr.error('Error al iniciar el script.', "Error");
                    }
                });
            }
        });

        btnCrearAts.addEventListener('click', () => {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            if (!username || !password) {
                toastr.warning("Por favor, complete los campos de usuario y contraseña.", "Advertencia");
            } else {
                $.ajax({
                    type: 'POST',
                    url: atsForm.action,
                    data: $(atsForm).serialize() + '&action=CrearAts',
                    success: function (response) {
                        if (response.output.state == 'None') {
                            toastr.error('Revisar que los archivos .XML se encuentren en la carpeta correcta', 'Alerta');
                        } else {
                            toastr.success('Se ha generado correctamente el ATS en la carpeta c:/ia/SRIBOT/XML', 'Exito');
                        }
                    },
                    error: function (response) {
                        toastr.error('Error al iniciar el script.', "Error");
                    }
                });
            }
        });

        function checkXmlFiles(buttonId) {
            // Condicion para mostrar los botones
            switch (buttonId) {
                case 'Facturas':
                    btnLiquidaciones.style.display = '';
                    break;
                case 'Liquidaciones':
                    btnNotasCredito.style.display = '';
                    break;
                case 'NotasCredito':
                    btnNotasDebito.style.display = '';
                    break;
                case 'NotasDebito':
                    btnRetenciones.style.display = '';
                    break;
                case 'Retenciones':
                    rowDownloadCompRecib.style.display = '';
                    btnNext.disabled = false;
                    break;
                default:
                    break;
            }

            const mes = document.getElementById('mes').value;

            $.ajax({
                type: 'POST',
                url: '{% url "check_xml_files" %}',
                data: {
                    'button_id': buttonId,
                    'mess': mes,
                    'directorys': valRutaFolder,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.status === 'success') {
                        toastr.success(response.output, "Éxito");
                    } else {
                        const errorMessage = `No se encontró ningún XML dentro de ${buttonId}, descargue los comprobantes y verifique de nuevo.`;
                        toastr.error(errorMessage, "Error");
                    }
                },
                error: function (response) {
                    toastr.error('Error al verificar los archivos XML.', "Error");
                }
            });
        }

        function checkXmlFilesEmitidos(buttonId) {
            switch (buttonId) {
                case 'FacturasE':
                    btnLiquidacionesE.style.display = '';
                    break;
                case 'LiquidacionesE':
                    btnNotasCreditoE.style.display = '';
                    break;
                case 'NotasCreditoE':
                    btnNotasDebitoE.style.display = '';
                    break;
                case 'NotasDebitoE':
                    btnRetencionesE.style.display = '';
                    break;
                case 'RetencionesE':
                    rowDownloadCompEmi.style.display = '';
                    btnNext.disabled = false;
                    break;
                default:
                    break;
            }

            const mes = document.getElementById('mes').value;

            $.ajax({
                type: 'POST',
                url: '{% url "check_xml_files_recibidos" %}',
                data: {
                    'button_id': buttonId,
                    'mess': mes,
                    'directorys': valRutaFolder,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.status === 'success') {
                        toastr.success(response.output, "Éxito");
                    } else {
                        const errorMessage = `No se encontró ningún XML dentro de ${buttonId}, descargue los comprobantes y verifique de nuevo.`;
                        toastr.error(errorMessage, "Error");
                    }
                },
                error: function (response) {
                    toastr.error('Error al verificar los archivos XML.', "Error");
                }
            });
        }

        // Agregar eventos a los botones de divEmitidos
        btnFacturas.addEventListener('click', () => checkXmlFiles('Facturas'));
        btnLiquidaciones.addEventListener('click', () => checkXmlFiles('Liquidaciones'));
        btnNotasCredito.addEventListener('click', () => checkXmlFiles('NotasCredito'));
        btnNotasDebito.addEventListener('click', () => checkXmlFiles('NotasDebito'));
        btnRetenciones.addEventListener('click', () => checkXmlFiles('Retenciones'));

        // Agregar eventos a los nuevos botones de divEmitidos que terminan en E (Emitidos)
        btnFacturasE.addEventListener('click', () => checkXmlFilesEmitidos('FacturasE'));
        btnLiquidacionesE.addEventListener('click', () => checkXmlFilesEmitidos('LiquidacionesE'));
        btnNotasCreditoE.addEventListener('click', () => checkXmlFilesEmitidos('NotasCreditoE'));
        btnNotasDebitoE.addEventListener('click', () => checkXmlFilesEmitidos('NotasDebitoE'));
        btnRetencionesE.addEventListener('click', () => checkXmlFilesEmitidos('RetencionesE'));

        showSection(currentSection);

        
        // Opciones para la limpieza de carpetas
        const selectOptionsClear = document.getElementById('selectOptionsClear');
        const btnClearFolders = document.getElementById('btnClearFolders');
        const selectOptionMounth = document.getElementById('selectOptionMounth');
        const selectOptionEmiRec = document.getElementById('selectOptionEmiRec');

        // Funcionalidad de select
        selectOptionsClear.addEventListener('change', function(){
            if(selectOptionsClear.value == 1 || selectOptionsClear.value == 3){
                selectOptionMounth.disabled = true;
                selectOptionEmiRec.disabled = true;
            }else{
                selectOptionMounth.disabled = false;
                selectOptionEmiRec.disabled = false;
            }
        })

        btnClearFolders.addEventListener('click', function(){
            var optionClear = selectOptionsClear.value == '' ? '1' : selectOptionsClear.value;
            valRutaFolder = valRutaFolder == undefined ? 'C:\\IA\\SRIBOT' : valRutaFolder;
            var optionMounth = '\\'+selectOptionMounth.value;
            var valEmiRec = '\\'+(selectOptionEmiRec.value == 'E' ? 'EMITIDAS' : 'RECIBIDAS');
            var fullDirectory = `${valRutaFolder}\\XML${optionMounth}${valEmiRec}`;
            var mainDirectory = `${valRutaFolder}\\XML`;

            switch (optionClear) {
                case "1":
                    break;
                case "2":
                fetch('/delete_files/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        body: JSON.stringify({ ruta: fullDirectory })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            toastr.error('Error: '+data.error + ', revisar la carpeta del mes', 'Error')
                        } else {
                            toastr.success(data.message, 'Exito en la limpieza')
                        }
                    });
                    break;
                case "3":
                    fetch('/delete_files/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        body: JSON.stringify({ ruta: mainDirectory })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            toastr.error('Error: '+data.error + ', revisar la carpeta raíz.', 'Error')
                        } else {
                            toastr.success(data.message, 'Exito en la limpieza')
                        }
                    });
                    break;
            }
        });
        // Obtener el token CSRF para las solicitudes POST
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        });
</script>


</html>